/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 05-Mar-2018, 12:36:12
    Author     : Asbamz
*/

.list-view {
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
}

.list-view:selected {
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
}

.list-view:focused {
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
    -fx-background-insets: 1px;
}

.list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-cell:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-cell:focused {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.text-field {
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #434343;
}

.button:pressed{
    -fx-background-color: #3176b5;
    -fx-text-fill: #FFFFFF;
}

.button{
    -fx-background-color: #46a2f8;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-cursor: hand;
}
